{% load static %}
<html>
    <head>
        <title>Programming Beauty</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style>
            h2   {font-size: 40pt;}
        </style>
    </head>
<body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu">
            <h1><a href="/">Programming Beauty</a></h1>
        </div>
        <div class="colorstrip"> 
        </div>
        
        <div class="colorstrip2"> 
        </div>
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

