{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    	<h2><div class= post.title><h2>
        {{ post.title }}
    </div>
    <div class= subhead>
        <p> {{subhead}} </p>
    </div>
    <div class= image>
        {{image}}
    </div>
    <div class="author">
    	<p> By {{ user }} </p>
                <div class="date">
                {{ post.published_date|date:"j F Y" }}
            </div>
        <div class="posttext">
        <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
{% endblock %}
