.page-header {
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #282828;
    font-size: 70pt;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.colorstrip{
    width: 99.7%; height: 1px;
    border-style: solid;
    border-color: #FFDBEE;
    background-color: #FFDBEE;
    padding-left: 20px
    padding-right: 20px;
}

.colorstrip2{
    width: 99.7%; height: 0.05px;
    border-style: solid;
    border-color: red;
    background-color: red;
    padding-left: 20px
    padding-right: 20px;
}

.content-container{
    margin: 50px 275px 75px 275px;
    font-family: 'Karla', sans-serif;
    background: white;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
}

.post.title {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    color: #282828;
}

.subhead {
    color: red;
    font-size: 20px;
    font-family: 'Karla', sans-serif;  
}

body {
    background: white url("images/pbback4crop.jpg");
    background-repeat: no-repeat;
    background-position: 9%36%;
    background-attachment: fixed;
}

a {
color: #282828;
text-decoration: none;
}
a:link {
color: #282828;
text-decoration: none
}
a:visited {
color: red;
text-decoration: none;
}
a:hover {
color: #282828;
text-decoration: underline;
}

a:hover, visted {
color: red;
text-decoration: underline;
}

.postheader {
    background-repeat: no-repeat;
    background-position: 9%36%; 
}

.post {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.date {
    color: red;
    font-size: 20px;
    padding-left: 0px;
    font-family: 'Karla', sans-serif;
}

.author {
    color: #FFDBEE;
    font-size: 20pt;
    padding-left: 30px;
    font-family: 'Karla', sans-serif;
}

.posttext {
    color:  #282828;
    font-size: 15pt;
    font-family: 'Karla', sans-serif;
    text-align: justify;
}

.comment {
    margin: 10px 50px 20px 50px;
    color: red
}

.commentprompt {
    margin: 10px 50px 20px 50px;
    color: #FFDBEE;
    font-size: 15pt;
    font-family: 'Karla', sans-serif;
}

.btn.btn-default {
    margin: 10px 50px 20px 50px;
}
.commentauthor {
    color: #FFDBEE;
    font-size: 15pt;
    padding-left: 30px;
    font-family: 'Karla', sans-serif;
}

.commentbutton {
    font-size: 15pt;
    font-family: 'Karla', sans-serif;
    padding-left: 50px;
}

.commentdate {
    color: red;
    font-size: 10pt;
    padding-left: 30px;
    font-family: 'Karla', sans-serif;
}

.commenttext {
    color: #282828;
    font-size: 12pt;
    padding-left: 30px;
    font-family: 'Karla', sans-serif;
}
